{:ig/system
 {:tutorials.crux.core/string "Hello, crux!"
  :tutorials.crux.core/earth nil
  :tutorials.crux.core/pluto nil
  :tutorials.crux.core/mercury nil
  :tutorials.crux.core/neptune nil
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port 4949}
  :edge.bidi.ig/vhost [["http://localhost:4949"
                        [""
                         [["/" #ig/ref :tutorials.crux.core/string]
                          ["/earth" #ig/ref :tutorials.crux.core/earth]
                          ["/pluto" #ig/ref :tutorials.crux.core/pluto]
                          ["/mercury" #ig/ref :tutorials.crux.core/mercury]]]]]}}
